nav {
  background-color: rgba(255, 255, 255, 0.9)
}

header {
  min-height: 100vh;
}

header {
  background-image: linear-gradient(rgba(48, 192, 244, 0.35), rgba(48, 192, 244, 0.35)), url('../images/header.jpg');
  background-size: cover;
  color: #fff;
  vertical-align: middle;
}

.social-networks li a {
  background-color: #fff;
  border-radius: 100%;
  display: block;
  height: 2rem;
  text-align: center;
  width: 2rem;
}

.social-networks li:nth-child(1) a {
  color: #3b5998;
}

.social-networks li:nth-child(1) a:hover {
  background-color: #3b5998;
  color: #fff;
}

.social-networks li:nth-child(2) a {
  color: #00aced;
}

.social-networks li:nth-child(2) a:hover {
  background-color: #00aced;
  color: #fff;
}

.social-networks li:nth-child(3) a {
  color: #0077b5;
}

.social-networks li:nth-child(3) a:hover {
  background-color: #0077b5;
  color: #fff;
}
